
h1 {
    color: rgb(0, 0, 0);
    margin-bottom: 2rem;
    font-size: 2.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

form {
    text-align: center;
}

.form-style-general {
    width: 65%;
}
::ng-deep .mdc-text-field--outlined {
    --mdc-outlined-text-field-container-shape: 25px !important;
}
mat-form-field {
    margin-bottom: .8rem;
}

::ng-deep .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
    font-weight: bold;
}

::ng-deep .mat-mdc-text-field-wrapper:hover{
    background-color: rgb(247, 240, 240) !important;
    border-radius: 25px !important;    
 }

button {
    width: 75%;
    height: 3rem;
    border-radius: 25px;
    background-color: rgb(21, 21, 22);
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
    margin-bottom: 1rem;
}

button:hover {
    cursor: pointer;
    background-color: rgb(32, 32, 34);
}

button:active{
    background-color: rgb(41, 41, 44);
}
button:disabled{
    background-color: rgb(59, 59, 61);
    color:rgb(163, 149, 149);

}