<div class="mat-stepper-container">
    <mat-stepper labelPosition="bottom">
        <form>
            <mat-step label="Pregunta 1" state="question_mark">
                <div class="radio-group-container">
                    <label>Cuanto es la division de 10 entre 2</label><br>
                    <mat-radio-group [(ngModel)]="respuestasUsuario[0]" name="pregunta_1">
                        <mat-radio-button value="resp_1">12</mat-radio-button>
                        <mat-radio-button value="resp_2">8</mat-radio-button>
                        <mat-radio-button value="resp_3">5</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="first-buttom-container">
                    <button matStepperNext>Siguiente</button>
                </div>
            </mat-step>
            <mat-step label="Pregunta 2" state="question_mark">
                <div class="radio-group-container">
                    <label>Cuanto es 5 + 5 * 3</label><br>
                    <mat-radio-group [(ngModel)]="respuestasUsuario[1]" name="pregunta_2">
                        <mat-radio-button value="resp_1">20</mat-radio-button>
                        <mat-radio-button value="resp_2">30</mat-radio-button>
                        <mat-radio-button value="resp_3">50</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="buttom-container">
                    <button matStepperPrevious>Atras</button>
                    <button matStepperNext>Siguiente</button>
                </div>
            </mat-step>
            <mat-step label="Pregunta 3" state="question_mark">
                <div class="radio-group-container">
                    <label>¿Cuál es el resultado de 5 * 6?</label><br>
                    <mat-radio-group [(ngModel)]="respuestasUsuario[3]" name="pregunta_4">
                        <mat-radio-button value="resp_1">30</mat-radio-button>
                        <mat-radio-button value="resp_2">56</mat-radio-button>
                        <mat-radio-button value="resp_3">25</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="buttom-container">
                    <button matStepperPrevious>Atras</button>
                    <button matStepperNext>Siguiente</button>
                </div>
            </mat-step>
            <mat-step label="Pregunta 4" state="question_mark">
                <div class="radio-group-container">
                    <label>Realiza esta operación: 20 / 2 * 10</label><br>
                    <mat-radio-group [(ngModel)]="respuestasUsuario[3]" name="pregunta_4">
                        <mat-radio-button value="resp_1">10</mat-radio-button>
                        <mat-radio-button value="resp_2">20</mat-radio-button>
                        <mat-radio-button value="resp_3">5</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="buttom-container">
                    <button matStepperPrevious>Atras</button>
                    <button matStepperNext>Siguiente</button>
                </div>
            </mat-step>
            <mat-step label="Pregunta 5" state="question_mark">
                <div class="radio-group-container">
                    <label>Cuanto es : 2 * 5 </label><br>
                    <mat-radio-group [(ngModel)]="respuestasUsuario[4]" name="pregunta_5">
                        <mat-radio-button value="resp_1">10</mat-radio-button>
                        <mat-radio-button value="resp_2">7</mat-radio-button>
                        <mat-radio-button value="resp_3">2</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="buttom-container">
                    <button matStepperPrevious>Atras</button>
                    <button matStepperNext (click)="onSubmit()">Siguiente</button>
                </div>
            </mat-step>
            <mat-step label="Resultado" state="emoji_objects">
                <div class="progress-spinner">
                    <mat-progress-spinner mode="determinate" value="{{this.valorSpinner}}" [diameter]="200" />
                    <p>{{this.valorSpinner.toPrecision(3)}}%</p>
                    <p>{{this.numeroCorrectas()}} de {{this.respuestasCorrectas.length}}</p>
                </div>
                <div class="last-buttom-container">
                    <button routerLink="/GlobalEducation/home">Finalizar</button>
                </div>
            </mat-step>
        </form>

    </mat-stepper>
</div>