<mat-toolbar style="height: 5vh;">
    <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon >menu</mat-icon>
        </button>
        <h1>Global Education</h1>
    </mat-toolbar-row>
</mat-toolbar>
    <mat-sidenav-container >
        <mat-sidenav #sidenav >
            <mat-nav-list>
                <a mat-list-item routerLink="/GlobalEducation/home">Home</a>
                <a mat-list-item routerLink="/GlobalEducation/about-me">Sobre mi</a>
                <a (click)="logOut()" mat-list-item>Cerrar sesion</a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content style="height: 93.3vh;">
            <router-outlet/>
        </mat-sidenav-content>
    </mat-sidenav-container>
