<div class="general-container">
    <div class="login-container">
        <h1 align="center">LOGIN</h1>
        <form method="post">
            <input type="email" placeholder="Inserte su email"><br>
            <input type="password" name="" id="" placeholder="Inserte su contraseña">
            <div class="boton">
                <a href="">¿No tiene cuenta?</a>
                <button type="submit" routerLink="home" >ENTRAR</button>
            </div>
        </form>
        
    </div>
</div>
