.general-container{
    display: grid;
    place-items: center;
    background-color: rgb(37,37,37);
    width: 100%;
    height: 100vh;
}

.login-container{
    background-color: rgb(90, 86, 86);
    margin:8rem 15rem;
    padding: 4rem 4rem;
    border-radius: 25px;
    font-size: 1.2rem;
    width: 35rem;
    box-shadow: 0px 0px 36px 0px rgba(0,0,0,0.75);

}

h1{
    color: white;
    margin-bottom:2rem;
}
input{
    margin-bottom:2rem;
    height: 1.8rem;
    width: 18rem;
    border-radius:10px;
    border-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form{
    text-align: center;
    padding-bottom: 1rem ;
    width: 35rem;
}

.boton{
    margin-top: 2rem;
}
.boton a{
    margin-right: 50%;
    color: white;
    font-size: 1rem;
}

.boton a:hover{
    color:rgb(245, 241, 241);
}

.boton a:active{
    color:rgb(230, 222, 222);
    font-size: 1rem;

}

.boton button{
    background-color: rgb(255, 0, 0);
    width: 8rem;
    height: 2.3rem;
    border-radius: 10px;
    border-style: none;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
.boton button:hover{
    cursor: pointer;
    background-color: rgb(243, 5, 5);
    color:rgb(245, 241, 241);

}

.boton button:active{
    background-color: rgb(221, 9, 9);
    color:rgb(230, 222, 222);

}