<div class="container">
    <h1>Sobre mí</h1>
    <div class="content">
        <p>Soy un estudiante apasionado con la programacion, actualmente en el último año de mi GS Desarrollo de Aplicaciones Multiplataforma. Como parte de mi Trabajo de Fin de Grado (TFG), he desarrollado una página web orientada a la educación de los niños, utilizando tecnologías modernas y eficientes para garantizar una experiencia de aprendizaje interactiva y enriquecedora.</p>

        <h2>Objetivos del Proyecto</h2>
        <p>El principal objetivo de mi TFG es crear una plataforma educativa que sea atractiva y accesible para los niños. La idea es combinar conceptos pedagógicos con tecnología avanzada para proporcionar una herramienta que facilite el aprendizaje de manera lúdica y efectiva.</p>

        <h2>Tecnologías Utilizadas</h2>
        <ol>
            <li><strong>Angular:</strong> He elegido Angular para el desarrollo del frontend debido a su capacidad para construir aplicaciones web dinámicas y de alta calidad...</li>
            <li><strong>NodeJS:</strong> Para el backend, he utilizado NodeJS, que es conocido por su eficiencia y capacidad para manejar múltiples solicitudes simultáneamente...</li>
            <li><strong>MySQL Workbench:</strong> MySQL Workbench ha sido mi herramienta principal para el diseño y la gestión de la base de datos...</li>
        </ol>

        <h2>Características del Proyecto</h2>
        <ul>
            <li><strong>Interfaz amigable y atractiva:</strong> La interfaz de la página está diseñada para ser intuitiva y visualmente atractiva para los niños...</li>
            <li><strong>Contenido educativo variado:</strong> La plataforma ofrece una amplia gama de actividades educativas, incluyendo juegos, cuestionarios y ejercicios prácticos...</li>
        </ul>

        <h2>Mi Motivación</h2>
        <p>La educación siempre ha sido una de mis pasiones y creo firmemente en el poder de la tecnología para transformar la forma en que aprendemos...</p>

        <h2>Contacto</h2>
        <p>Estoy entusiasmado por compartir mi proyecto y siempre abierto a comentarios y sugerencias. Si deseas saber más sobre mi trabajo o tienes alguna pregunta, no dudes en contactarme a través de <a href="alberto.trabajo.es@gmail.com">mi correo electrónico</a> o en mis redes sociales <a href="https://twitter.com/Beto_rvss">pinchando aquí</a>.</p>
    </div>
</div>