.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 20px;
}

h1 {
    color: #333;
    text-align: center;
}

h2 {
    color: #444;
}

.content {
    line-height: 1.6;
}

ol,
ul {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}